<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ILS Warehouse Management System</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <button mat-button routerLink="/good-return" class="color">GOOD RETURN</button>
      <button mat-button routerLink="/data-transfer" class="color">DATA TRANSFER</button>
      <button mat-button routerLink="/inbound" class="color">INBOUND</button>
    </div>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>