<mat-toolbar>Data Transfer</mat-toolbar><br>
<div class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <table class="table">
      <tr>
          <td width="100%">GSTG 20000001</td>
          <td> <button class="button is-danger"  routerLink="/good-return">GR</button></td>
          <td> <button class="button is-info"  routerLink="/data-transfer-out" disabled>OUT</button></td>
          <td> <button class="button is-success" routerLink="/data-transfer-in" disabled>IN</button></td>
        </tr>
      <tr>
          <td>GSTG 20000002</td>
          <td> <button class="button is-danger"  routerLink="/good-return">GR</button></td>
          <td> <button class="button is-info" routerLink="/data-transfer-out" disabled>OUT</button></td>
          <td> <button class="button is-success" routerLink="/data-transfer-in" disabled>IN</button></td>
      </tr>
      <tr>
          <td>GSTG 20000003</td>
          <td> <button class="button is-danger"  routerLink="/good-return">GR</button></td>
          <td> <button class="button is-info" routerLink="/data-transfer-out" >OUT</button></td>
          <td> <button class="button is-success" routerLink="/data-transfer-in" >IN</button></td>
      </tr>

    </table>
  </div>
