<mat-toolbar>Goods Return</mat-toolbar><br>
<p style="position:relative; left:158px">* Client :
  <select class="width1">
    <option>STAEDTLER(GR)</option>
    <option>STAEDTLER(OLD)</option>
  </select>
  <font style="position:relative; left:250px">* GR Date :
    <input type="date">
  </font>
</p>

<p style="position:relative; left:159px">* GR ID :
  <input  class="input is-small width1" type="text" placeholder="Text input">
  <font style="position:relative; left:198px">* Document Date :
    <input type="date">
  </font>
</p>

<p style="position:relative; left:100px">* Document No :
  <input  class="input is-small width1" type="text" placeholder="Text input">
  <font style="position:relative; left:270px"> Status :

  </font>
</p>

<p style="position:relative; left:123px">Received By :
  <select class="width1">
    <option>AOI-RATDA LAPSATIAN</option>
    <option>With options</option>
  </select>
</p>

<p style="position:relative; left:24px">Customer Name / Remark :
  <input style="width:600px" class="input is-small" type="text" placeholder="Text input">
</p>

<p style="position:relative; left:167px">Select :
  <label class="radio">
    <input type="radio" name="answer1">Specify Invoice Number
  </label>
  <label class="radio">
    <input type="radio" name="answer1" checked>Not Specify Invoice Number
  </label>
</p>

<p style="position:relative; left:167px">Select :
  <label class="radio">
    <input type="radio" name="answer2">Eull Return
  </label>
  <label class="radio">
    <input type="radio" name="answer2" checked>Partial Return
  </label>
</p>

<p style="position:relative; left:140px">GR Status :
  <label class="radio">
    <input type="radio" name="answer3">On Return
  </label>
  <label class="radio">
    <input type="radio" name="answer3" checked>During the inspection and Put Away
  </label>
</p>
<br>
<p style="position:relative; left:24px">--> Not Specify Invoice Number :</p>

<div class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <table class="table" align="center">
    <tr>
      <th>Product Code</th>
      <th>Description</th>
      <th>SU</th>
      <th>PCS/SU</th>
      <th>G-Qty(SU)</th>
      <th>G-Qty(Pcs)</th>
      <th>D-Qty(SU)</th>
      <th>D-Qty(Pcs)</th>
    </tr>
    <tr>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td>test4</td>
      <td>test5</td>
      <td>test6</td>
      <td>test7</td>
      <td>test8</td>
    </tr>
  </table>
</div>
<p style="position:relative; left:123px">Product :
  <select class="width1">
    <option>0G364B0 --> V364 SC4TR</option>
  </select>
</p>
<div class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <table class="table" align="center">
    <tr >
      <th colspan="2" align="center"></th>
      <th colspan="2" align="center">Good</th>
      <th colspan="2" align="center">Damage</th>
    </tr>
    <tr>
      <th align="center">SU</th>
      <th align="center">PCS/SU</th>
      <th align="center">Full</th>
      <th align="center">PCS</th>
      <th align="center">Full</th>
      <th align="center">PCS</th>
    </tr>
    <tr>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td>test4</td>
      <td>test5</td>
      <td>test6</td>
    </tr>
  </table>
</div>
<div align="center">
  <button class="button is-dark">Submit</button> &nbsp;<button class="button is-dark">Cancel</button>
</div>