<mat-toolbar>TR-In</mat-toolbar><br>
<p style="position:relative; left:158px">* Client :
  <select class="width1">
    <option>STAEDTLER(GR)</option>
    <option>STAEDTLER(OLD)</option>
  </select>
</p>

<p style="position:relative; left:154px">TR-in ID :
  <input  class="input is-small width1" type="text" placeholder="Text input">
  <font style="position:relative; left:160px">* TR-in Date :
    <input type="date">
  </font>
</p>
<label class="radio" style="position:relative; left:230px">
    <input type="radio" name="answer1" >Return
</label>
<label class="radio" style="position:relative; left:544px">
    <input type="radio" name="answer1" >Repack
</label>
<label class="radio" style="position:relative; left:570px">
    <input type="radio" name="answer1" >Exchang
</label>
<p style="position:relative; left:88px">* Document Type : &nbsp;
  <label class="radio">
    <input type="radio" name="answer1" >Transfer within Warehouse
  </label>
  <label class="radio" style="position:relative; left:172px">
    <input type="radio" name="answer1" >Damage    
  </label>
  <label class="radio" style="position:relative; left:190px">
    <input type="radio" name="answer1" >Semi-Crossdock
  </label>
</p>
<label class="radio" style="position:relative; left:230px">
    <input type="radio" name="answer1" checked>Recondition (On-Hold Stock to Good Stock - LIFO)
  </label>
  <label class="radio" style="position:relative; left:240px">
    <input type="radio" name="answer1" >Adjust (+)    
  </label>

<p style="position:relative; left:67px">* Ref. Document No :
  <input  class="input is-small width1" type="text" placeholder="Text input">
  <font style="position:relative; left:143px">* Ref. Document Date :
    <input type="date">
  </font>
</p>

<p style="position:relative; left:96px">* Received Date :
    <input type="date">
  <font style="position:relative; left:201px">* Checked By :
    <select style="width:200px;" >
      <option>AOI-RATDA LAPSATIAN</option>
    </select>
  </font>
</p>
<p style="position:relative; left:154px">Remark :
  <input style="width:500px" class="input is-small" type="text" placeholder="Text input">
</p>
<br>
<div class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <table class="table" align="center">
    <tr >
      <th align="center">Product Code</th>
      <th align="center">Description</th>
      <th align="center">SU</th>
      <th align="center">Qty(SU)</th>
      <th align="center">Qty(Pcs)</th>
      <th align="center">D-Qty(SU)</th>
      <th align="center">D-Qty(Pcs)</th>
      <th align="center">Batch Code</th>
      <th align="center">Manf.Data</th>
      <th align="center">Exp.Date</th>
    </tr>
    <tr>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td>test4</td>
      <td>test5</td>
      <td>test6</td>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td>test4</td>
    </tr>
  </table>
</div>  
<br>
<p style="position:relative; left:96px">Product :
    <select style="width:350px;" >
      <option>334-5 02 --> Fineliner triplus 0.3mm Green</option>
    </select>&nbsp;&nbsp;
    <font>SU : PCS   Pcs/SU : 1</font>
</p><br>
<p style="position:relative; left:150px">* Qty(SU) : 
    <input style="width:100px" class="input is-small" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <font>Qty(Psc) :
        <input style="width:100px" class="input is-small" type="text">
    </font>
</p>
<p style="position:relative; left:146px">D-Qty(SU) : 
    <input style="width:100px" class="input is-small" type="text">&nbsp;&nbsp;&nbsp;&nbsp;
    <font>D-Qty(Psc) :
        <input style="width:100px" class="input is-small" type="text">
    </font>
</p>
<p style="position:relative; left:146px">Batch/Serial No : 
    <input style="width:200px" class="input is-small" type="text">&nbsp;&nbsp;&nbsp;&nbsp;
    <font>Exp.Date :
      <input type="date">
    </font>&nbsp;&nbsp;&nbsp;&nbsp;
    <font>Manf.Date :
      <input type="date">
    </font>
</p>
<div style="position:relative; left:250px">
  <button  class="button is-dark">Submit</button>&nbsp;&nbsp;
  <button  class="button is-dark">Cancel</button>&nbsp;&nbsp;
</div>
