<mat-toolbar>Transfer Out</mat-toolbar><br>
<p style="position:relative; left:158px">* Client :
  <select class="width1">
    <option>STAEDTLER(GR)</option>
    <option>STAEDTLER(OLD)</option>
  </select>
  <font style="position:relative; left:250px">Status :</font><br>
</p>

<p style="position:relative; left:91px">* Transfer Out ID :
  <input  class="input is-small width1" type="text" placeholder="Text input">
  <font style="position:relative; left:160px">* Transfer Out Date :
    <input type="date">
  </font>
</p>

<p style="position:relative; left:131px">* Doc Type :
  <label class="radio">
    <input type="radio" name="answer1" checked>Transfer within Warehouse
  </label>
</p>

<p style="position:relative; left:67px">* Ref. Document No :
  <input  class="input is-small width1" type="text" placeholder="Text input">
  <font style="position:relative; left:143px">* Ref. Document Date :
    <input type="date">
  </font>
</p>

<p style="position:relative; left:88px">* Transfer Out By :
  <select class="width1" >
    <option>---Please select user---</option>
  </select>
  <font style="position:relative; left:201px">* Checked By :
    <select style="width:200px;" >
      <option>---Please select user---</option>
    </select>
  </font>
</p>

<p style="position:relative; left:154px">Remark :
  <input style="width:500px" class="input is-small" type="text" placeholder="Text input">
</p>
<br>
<div style="position:relative; left:250px">
  <button  class="button is-dark">Good</button>&nbsp;&nbsp;
  <button  class="button is-dark">Damage</button>
</div>
<br>
<div class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <table class="table" align="center">
    <tr >
      <th align="center">Location</th>
      <th align="center">Product Code</th>
      <th align="center">Description</th>
      <th align="center">SU</th>
      <th align="center">Qty(SU)</th>
      <th align="center">Qty(Pcs)</th>
      <th align="center">D-Qty(SU)</th>
      <th align="center">D-Qty(Pcs)</th>
      <th align="center">H-Qty(SU)</th>
      <th align="center">H-Qty(Pcs)</th>
      <th align="center">Exp.Date</th>
    </tr>
    <tr>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td>test4</td>
      <td>test5</td>
      <td>test6</td>
      <td>test1</td>
      <td>test2</td>
      <td>test3</td>
      <td>test4</td>
      <td>test5</td>
    </tr>
  </table>
</div>  
<div style="position:relative; left:250px">
  <button  class="button is-dark">Submit</button>&nbsp;&nbsp;
  <button  class="button is-dark">Cancel</button>
</div>